
    @import './variables.scss';

    .headerBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: "0px 50px 0 50px"
    }

    .headerLink {
        color: $color-primary;
        text-decoration: none;
        font-size: 1.2rem;
        margin: 0 10px;
    }

    .headerLink:hover {
        color: $color-secondary;
        font-size: 1.3rem;
    }

